# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Outputs (model and pipeline outputs)
outputs/*
!outputs/.gitkeep

# Reports
reports/figures/*
!reports/figures/.gitkeep

# OS
.DS_Store
y
y.pub
