name: ece143-final
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - jupyterlab
  - ipykernel
  - pytest
  - black
  - ruff
  - pre-commit
