name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          activate-environment: ece143-final
          auto-activate-base: false
          miniforge-variant: Miniforge3
          miniforge-version: latest

      - name: Lint + Format Check
        shell: bash -l {0}
        run: |
          ruff check .
          ruff format --check .

      - name: Tests
        shell: bash -l {0}
        run: |
          pytest
